<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eye color app</title>
    {% style "/css/bootstrap.min.css" %}
    {% style "/css/bootstrap-theme.min.css" %}
    {% style "/css/app.css" %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% script "/js/jquery.min.js" %}
    {% script "/js/bootstrap.min.js" %}
  </head>
  <body>
    <div class="container" id="form"></div>
    <div class="container" id="table"></div>

    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
    {% if dev %}
      {% script "/js/react.js" %}
      {% script "/js/out/goog/base.js" %}
      {% script "/js/app.js" %}
      <script type="text/javascript">goog.require("myapp.app");</script>
    {% else %}
      {% script "/js/react.min.js" %}
      {% script "/js/app.js" %}
    {% endif %}
  </body>
</html>
